<div class="mx-auto max-w-xl border p-5 rounded-md shadow-lg">
  <.header>Resend confirmation instructions</.header>

  <.simple_form :let={f} for={@conn.params["user"]} as={:user} action={~p"/users/confirm"}>
    <.input field={f[:email]} type="email" label="Email" required />
    <:actions>
      <.button>Resend confirmation instructions</.button>
    </:actions>
  </.simple_form>
</div>
